@use '../variables/color.scss';
@use '../variables/spacing.scss';
@use '../variables/border.scss';

$post-width: 512px;
$post-gap: 24px;
$columns: 2;

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $post-gap;
  justify-content: space-between;
  margin: spacing.$space-5 auto;
  max-width: $post-width * $columns + $post-gap;
  width: 100%;
  overflow: hidden;
}

.post {
  width: $post-width;
  height: 468px;
  border-radius: border.$border-radius-3;
  color: color.$base-text-100;
  overflow: hidden;
  cursor: pointer;

  &__img {
    width: $post-width;
    height: 300px;
    background-position: center center;
    object-fit: cover;
    object-position: 0 0;
  }

  &__header {
    font-size: 24px;
    margin: spacing.$space-3 0;
  }

  &__description {
    line-height: 1.5;
    color: color.$base-text-900;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
