@use './../variables/color.scss';
@use './../variables/spacing.scss';
@use './../variables/border.scss';

.modal-container {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000001f;
}

.modal {
    padding: spacing.$space-2;
    min-width: 420px;
    height: 400px;
    background-color: color.$base-white-0;
    border-radius: border.$border-radius-2;

    &__header {
        text-align: end;
    }

    &__title {
        text-align: center;
    }

    &__description {
        margin-top: spacing.$space-5;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin: spacing.$space-12 spacing.$space-4;
    }

    &__form-btn {
        margin: spacing.$space-4 0 !important;
        height: 40px;
    }
}
