@use './../variables/color.scss';
@use './../variables/spacing.scss';
@use './../variables/border.scss';

.modal-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.modal {
    background-color: color.$base-white-0;
    border-radius: border.$border-radius-2;
}
